#landing {
  background-image: url("https://i.ibb.co/3MXRgxn/pangaea-2.png");
  background-color: #214365; 

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing h1, h6 {
  margin-bottom: 20px;
}
/* https://media.giphy.com/media/4QFo06HInf6afSss8A/giphy.gif */
/* https://media.giphy.com/media/xkSzarUPEt326y6klD/giphy.gif */
/* https://media.giphy.com/media/1Ygkk70ho1h6YrK6oC/giphy.gif */
#landing h1 {
  background: url(https://media.giphy.com/media/ZcQnkuO90fR0rMK4Jn/giphy.gif);
  background-size: cover;
  background-position-y: -200px;
  
  -webkit-background-clip: text;
  color: transparent; 
  width: 600px;
  height: 100px;
  box-sizing: border-box;
  font-size: 125px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;

}

#landing h6 {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}

#buttons {
  display: flex;
  width: 15%;
  max-width: 158px;
  justify-content:space-between;
}

#custombtn {
  border-color: #E3E0CC;
  color: #E3E0CC;
  font-weight: 650;
}

#custombtn:hover {
  background-color: #E3E0CC;
  color: black;
}

#customwhite {
  color: #ffffff
}